# Settyl Data Science And Machine Learning Engineer Task
#  Task
#### Dataset:
####  https://gist.github.com/farhaan-settyl/ecf9c1e7ab7374f18e4400b7a3d2a161
####  Data Preprocessing: Preprocess the provided dataset to clean and format the
####  external status descriptions and internal status labels for training the machine
####  learning model.
####  Model Development: Develop a machine learning model using TensorFlow or
####  similar frameworks to predict the internal status based on the external status
####  descriptions. Experiment with different architectures and algorithms to achieve
####  optimal performance.
####  Model Training and Evaluation: Train the developed model on the preprocessed
####  dataset and evaluate its performance using appropriate metrics such as accuracy,
####  precision, and recall.
####  API Development: Implement an API using FastAPI framework to expose the
####  trained machine learning model. The API should accept external status descriptions
####  as input and return the predicted internal status labels.
####  Testing and Validation: Test the developed API thoroughly to ensure its
####  functionality and accuracy. Validate the predictions against a validation dataset to
####  measure the model's generalization ability.
####  Documentation: Document the entire development process, including data
####  preprocessing steps, model architecture, training procedure, API implementation,
####  and testing results.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings 
warnings.filterwarnings("ignore")
from scipy.cluster.hierarchy import linkage,dendrogram
from scipy.stats import zscore
from scipy.spatial.distance import pdist
from scipy.spatial import distance
from scipy.cluster.hierarchy import fcluster

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
from sklearn.metrics import classification_report,confusion_matrix,roc_curve,accuracy_score,auc,roc_auc_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler,MinMaxScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sklearn.datasets import make_blobs
from sklearn.cluster import AgglomerativeClustering
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score

In [2]:
df = pd.read_json("dataset.json")

In [3]:
df

,externalStatus,internalStatus
0,PORT OUT,Port Out
1,TERMINAL IN,Inbound Terminal
2,PORT IN,Port In
3,Vessel departure from first POL (Vessel name :...,Departure
4,Vessel arrival at final POD (Vessel name : TIA...,Arrival
...,...,...
1217,Import Loaded on Rail,Loaded on Vessel
1218,Full Transshipment Loaded,Loaded on Vessel
1219,Full Transshipment Loaded,Loaded on Vessel
1220,Export Loaded on Vessel,Loaded on Vessel
1221,Empty to Shipper,Empty Container Released

In [4]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1217     True
1218     True
1219     True
1220     True
1221     True
Length: 1222, dtype: bool

In [5]:
# Clean and format external status descriptions
def clean_text(text):
    text = text.lower()  # Convert to lowercase
    text = re.sub(r'[^a-zA-Z\s]', '', text)  # Remove special characters
    text = ' '.join(word_tokenize(text))  # Tokenize text
    return text

In [6]:
df.shape

(1222, 2)

In [7]:
df.describe()

       externalStatus    internalStatus
count            1222              1222
unique            108                15
top          Gate out  Loaded on Vessel
freq              144               331

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1222 entries, 0 to 1221
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   externalStatus  1222 non-null   object
 1   internalStatus  1222 non-null   object
dtypes: object(2)
memory usage: 19.2+ KB

In [9]:
len(df[df.duplicated()])

1114

In [10]:
# droping duplicate records
df.drop_duplicates(inplace=True)

In [11]:
# recheck duplicate records
len(df[df.duplicated()])

0

In [12]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Embedding, LSTM, Dense, GlobalMaxPooling1D
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

WARNING:tensorflow:From C:\Users\ANAYA DOGRA\anaconda3\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [13]:
df[['externalStatus','internalStatus']].describe()

       externalStatus    internalStatus
count             108               108
unique            108                15
top          PORT OUT  Loaded on Vessel
freq                1                49

In [14]:
# Split the dataset into features (X) and target variable (y)
X = df['externalStatus']
y = df['internalStatus']

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [16]:
# Initialize and train the model
model = LogisticRegression()
model.fit(X_train_vec, y_train)

NameError: name 'X_train_vec' is not defined

In [ ]:
# Make predictions on the testing data
y_pred = model.predict(X_test_vec)